.bg-main,
.testml-elem-2,
.btn.btn-thin:hover,
.service-inner.style-02 .number,
.biof-loading-center-absolute .dot,
.biolife-service__type02 .foot-area,
.biolife-tweet-item .tw-head .icon i,
.biolife-social.circle-hover ul li a:hover,
.footer.layout-02 .copy-rights-contain,
.tab-head__default .tab-element .tab-link::before,
.header-top .top-bar .social-list.circle-layout a:hover,
.biolife-banner__grid:not(.type-02) .banner-contain .cat-name::before,
.slider-opt04__layout01.light-version .buttons .btn.btn-bold:not(:hover),
.biolife-banner__style-05 .btn-shopnow,
.biolife-banner__style-06 .btn-shopnow,
.biolife-banner__style-07 .btn-shopnow,
.style-bottom-info.layout-02 .thumbnail .post-date,
.style-bottom-info.layout-03 .thumbnail .post-date,
.tab-head__icon-top-layout a::after,
.slider-opt03__layout01.mode-03 .buttons .btn.btn-bold:not(:hover),
.biolife-banner__special-02 .product-detail .add-to-cart-btn:not(:hover),
.contain-product__right-info-layout3 .buttons .add-to-cart-btn:not(:hover),
.contain-product__deal-layout .slide-down-box .buttons .add-to-cart-btn,
.biolife-banner__special .product-detail .add-to-cart-btn,
.post-item .group-buttons .count-number:hover .number,
.post-item .post-content .btn.readmore:hover,
.post-comments .form-row.last-btns .btn-sumit,
.style-bottom-info.layout-03 .post-meta .liked .number,
.single-post-contain .post-foot .socials-connection .social-list li a:hover,
.wgt-twitter-item .detail .viewall a:hover::before,
.biolife-carousel .slick-dots li.slick-active button,
.btn.btn-bold:not(:hover),
.contact-form-container .form-row .btn-submit,
.login-on-checkout .form-row button,
.minicart-block.layout-02 .icon-contain .btn-to-cart,
.checkout-progress-wrap .checkout-act.active .title-box .number,
.biolife-progress-bar .progress .progress-bar,
.shpcart-subtotal-block .btn-checkout .btn,
.shopping-cart-container table td.wrap-btn-control .btn,
.review-form-wrapper .form-row button[type=submit],
.header-area.layout-01 .mobile-search .open-searchbox,
.product-tabs.single-layout .tab-head .tabs li a::before,
.sumary-product .action-form .buttons .pull-row .btn:hover::before,
.sumary-product .action-form .buttons .pull-row .btn:hover::after,
.biolife-panigations-block ul li a:hover,
.biolife-panigations-block ul li .current-page,
.pr-detail-layout .info .buttons .add-to-cart-btn,
.contain-product.layout-default .slide-down-box .buttons .add-to-cart-btn,
.sidebar .price-filter .frm-contain .f-item .btn-submit,
.newsletter-block .form-content .bnt-submit,
.mobile-search .mobile-search-content .btn-submit,
.vertical-category-block .block-title,
.biolife-banner__promotion3 .product-detail .add-to-cart-btn,
.biolife-banner__grid .banner-contain .cat-name::before,
.biolife-cart-info .minicart-block .btn-control .view-cart,
.sumary-product .action-form .buttons .add-to-cart-btn,
.service-inner.color-reverse .number,
.content-404 .button,
.slider-opt03__layout01 .buttons .btn.btn-bold:not(:hover),
.biolife-cart-info .icon-qty-combine .qty{
    background-color: #002147;
}
.search-widget button[type=submit]:hover,
.minicart-block.layout-02 .icon-contain .biolife-icon,
.header-area.layout-01 .header-top .top-bar .horizontal-menu a:hover,
.header-area .biolife-cart-info .login-item .login-link:hover,
.header-area.layout-02 .header-top .top-bar .horizontal-menu a:hover,
.header-area.layout-02 .header-top .top-bar .social-list li a:hover,
.contain-product .product-thumb .lookup:hover,
.contain-product .slide-down-box .buttons .btn:not(.add-to-cart-btn):hover,
.biolife-nav ul li a:hover,
.biolife-social ul li a:hover,
.wrap-custom-menu.vertical-menu-2 li a:hover,
.biolife-products-block .menu-title,
.header-area .live-info .telephone i,
.vertical-category-block .wrap-menu ul.sub-menu li:hover>a,
.vertical-category-block .wrap-menu .menu>li:hover>a,
.vertical-category-block .wrap-menu .menu li:hover>a:after,
.block-posts .block-post-item .post-name a:hover,
.header-area .primary-menu>ul>li.has-child .sub-menu a:hover,
.wrap-custom-menu ul.menu>li a:hover,
.minicart-item .left-info .product-name:hover,
.header-area .primary-menu>ul>li.has-child:hover>a::after,
.header-area .primary-menu>ul>li:hover>a,
.nice-select .option:hover,
.nice-select .option.focus,
.content-404 .heading,
.slider-opt03__layout01 .buttons .btn-thin:not(:hover),
.nice-select .option.selected.focus{
    color: #fdc800;
}
.mobile-search .mobile-search-content,
.biolife-cart-info .minicart-block .cart-inner{
    border-top-color: #e73918;
}
.btn.btn-thin:hover,
.minicart-block.layout-02 .icon-contain .span-index,
.biolife-carousel.dots_ring_style .slick-dots li button
{
	border-color: #e73918;
}